.pricing-h1 {
  margin-top: 5rem;
  font-weight: 900;
  font-size: 4rem;
}

.pricing-text {
  font-size: 1rem;
  color: rgb(59, 54, 54);
  width: auto;
  margin: 2rem 10rem;
}

.faq {
  margin-top: 50px;
  padding-bottom: 120px;
}

.faq h2 {
  color: #025157;
}

.faq .card-header {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.faq h2 > button {
  color: #025157;
  font-size: 28px;
  font-weight: 900;
}

.faq .card .card-body a {
  color: #6abf4b;
}
