/** _global.scss */

/** colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$green-text: #67b54b;
$gray: #4a4a4a;
$light-gray-text: #979797;

/** fuentes */
$font-title: "Alegreya", serif;

/** placeholders */
%base-title {
  font-family: $font-title;
  color: $dark-green-text;
}
